* {
    font-family: Arial, Helvetica, sans-serif;
    color: indigo;
    
  }
  
  a:visited {
      color: red;
  }

  a:hover {
    color: gold;
  
  }

  footer {
      text-align: center;
  }

 .text {
     text-align: center;
 }